# Install all Python dependencies for this repo:
#   pip install -r requirements.txt

numpy
opencv-python-headless
time
math
ctypes.wintypes
http.client
json
requests
fastapi
fastapi.middleware.cors
pydantic
pathlib
os